.section {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
}

.section__content {
  padding: 0 10px;
  border: 1px solid #ccc;
  border-left: 0;
}
.section__content .grid {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.section__content [data-block] {
  padding: 10px;
  // border: 1px solid #e3e3e3;
  & + [data-block] {
    border-left: 1px solid #e3e3e3;
  }
}


.panel-heading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35px;
  padding: 3px;
  border: 1px solid #aaa;
  background: #c4c5c6;
  text-align: center;
}
.section__handle,
.section__layouts {
  // float: left;
  // margin-right: 10px;
}
.section__handle {
  cursor: move;
  padding-top: 2px;
}
.section__layouts a {
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
}
.section__layouts a.layout-active {
  border-color: #76B5ED;
}
.section__layouts img {
  vertical-align: middle;
  background: #fff;
}
.section__actions {
  // float: right;
  padding-top: 2px;
}

#region .droppable {
    border: 1px solid #CCC;
    min-height: 200px;
    width: 90%;
    padding: 5px 4px 1px 5px;
}

#region .inherited {
    background-color: #ffffee;
}

#region .droppable .widget {
	padding: 0;
    margin: 0 0 4px 0;
}

.widget {
  background: transparent url(../img/cms/widget.background.png) repeat-y;
  list-style: none;
  border: 1px solid #CCC;
  padding: 7px 7px;
  label {
    cursor: pointer;
    display: block;
    font-weight: normal;
  }
  img {
    vertical-align: middle;
  }
}
.widget--button {
  background: #fff;
  display: block;
  width: 100%;
  border-style: dashed;
  i {
    margin-right: 7px;
  }
}
.widget--button:hover {
  background: #f5f6f7;
}

.widgets .widget ~ .widget {
  margin-top: 10px;
}

.widget .radio {
  position: relative;
  padding-left: 25px;
}
.widget .radio input {
  position: absolute;
  left: 0;
  top: 2px;
}

.widget__header {
  margin-bottom: 5px;
}
.widget__handle {
  float: left;
  cursor: move;
}
.widget__actions {
  float: right;
}
.widget__actions a {
  color: #999;
}
.widget__actions a:hover {
  color: #666;
}
.widget__title {
  margin: 0 30px;
  font-weight: bold;
}
.widget__title img {
  vertical-align: middle;
  margin-right: 5px;
}

.widget__content {
  margin-left: 30px;
  overflow: hidden;
}

#region .droppable .widget-actions {
	width: 25px;
	float: left;
}

#region .droppable .widget-actions .icon,
#region .droppable .widget-actions .handle {
	text-align: center;
	padding: 3px 0 3px 0;
  display: block;
}

#region .droppable .widget-actions .icon li {
	text-align: left;
}

#region .droppable .widget-actions .icon {
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
	background: #E1E1E1 url(../img/cms/arrow.down.grey.png) no-repeat scroll center bottom;
}

#region .droppable .widget-info {
	padding: 5px 0 5px 9px;
	width: 85%;
	float: left;
}

#region .inherited .widget-info {
	background: transparent url(../img/cms/widget.inherited.png) no-repeat scroll right 7px;
}

#region .widget-info ul {
	padding: 0 0 0 15px;
}

#region .widget-info ul {
	overflow: hidden;
}

#region .droppable .widget-info .name {
	display: block;
	margin-bottom: 7px;
}

#region .droppable .handle img {
  padding-top: 4px;
	cursor: move;
}

#region .droppable .preview {
	display: inline;
	margin-top: 5px;
	color: #666;
	line-height: 120%;
}

#widgets .widget {
    width: 175px;
    margin-left: 0;
    cursor: move;
    padding: 7px 7px 7px 30px;
    margin: 0 4px 4px 0;
    float: left;
    position: relative;
}

#widgets .widget img {
	position: absolute;
  left: 4px;
}
